@import 'https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap';
*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
}

body {
  margin: 0;
  background-color: #464646;
}

img {
  display: block;
}

.container {
  position: relative;
  max-width: 90rem;
  margin-inline: auto;
  line-height: 150%;
  letter-spacing: 0.5px;
  background-color: #efefef;
}

.navigation {
  display: flex;
  -moz-column-gap: 1.875rem;
       column-gap: 1.875rem;
  align-items: center;
  justify-content: space-between;
  padding-block: 0.25rem;
  padding-inline: 15.625rem;
  font-size: 1rem;
  font-weight: 500;
  color: #efefef;
  background-color: #040e15;
}
.navigation-left {
  padding-inline: 0;
}
.navigation-left-logo {
  -moz-column-gap: 0.625rem;
       column-gap: 0.625rem;
}
.navigation-left-logo-logotitle {
  font-size: 1.5rem;
  font-weight: 700;
}
.navigation-right {
  padding-block: 0.15rem;
  padding-inline: 0.85rem;
  font-weight: 700;
  color: #040e15;
  background-color: #efefef;
  border-radius: 1.25rem;
}

.hero {
  position: relative;
}
.hero_img {
  position: absolute;
}
.hero_text {
  position: absolute;
  top: 10rem;
  left: 15.625rem;
  z-index: 1;
  width: 90rem;
  height: 48.1875rem;
  color: #efefef;
}

.subtitle {
  padding-bottom: 6rem;
  font-size: 2rem;
  font-weight: 700;
}

.title {
  padding-bottom: 10rem;
  font-family: ohneuleun, sans-serif;
  font-size: 7.5rem;
  font-style: normal;
  font-weight: 500;
  letter-spacing: -0.025rem;
}

.titletext {
  padding-bottom: 1rem;
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
}

.minitext {
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
}

.dot {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 90rem;
  height: 48.1875rem;
}

.dot-img-1 {
  position: absolute;
  top: 90%;
  left: 45%;
  z-index: 1;
  width: 3rem;
  height: 0.25rem;
  padding-inline: 10px;
  background-color: #efefef;
  border-radius: 100px;
}

.dot-img-2 {
  position: absolute;
  top: 90%;
  left: 50%;
  z-index: 1;
  width: 3rem;
  height: 0.25rem;
  padding-inline: 10px;
  background-color: #efefef;
  border-radius: 100px;
  opacity: 0.5;
}

.dot-img-3 {
  position: absolute;
  top: 90%;
  left: 55%;
  z-index: 1;
  width: 3rem;
  height: 0.25rem;
  padding-inline: 10px;
  background-color: #efefef;
  border-radius: 100px;
  opacity: 0.5;
}

.lecture {
  position: relative;
  margin-inline: auto;
  margin-top: 6.25rem;
  margin-bottom: 6.25rem;
  color: #efefef;
}
.lecture-text {
  position: absolute;
  top: 3.125rem;
  left: 15.625rem;
  z-index: 1;
  width: 58.8125rem;
  height: 15.875rem;
  padding-left: 40px;
}

.lecture-subtitle {
  margin-bottom: 1.25rem;
  font-size: 1.125rem;
  font-weight: 500;
  letter-spacing: -0.0125rem;
}

.lecture-title {
  margin-bottom: 4rem;
  font-size: 2rem;
  font-weight: 700;
}

.lecture-date {
  font-size: 14px;
  font-weight: 400;
}

.church {
  padding-inline: 15.625rem;
}

.church-subtitle {
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
  font-weight: 700;
  color: #6e767b;
}

.church-hr {
  width: 10%;
  height: 0.2rem;
  margin-bottom: 1rem;
  margin-left: 0;
  background-color: #d9dee1;
}

.church-title {
  margin-bottom: 2rem;
  font-size: 2.1875rem;
  font-weight: 900;
  color: #0a2840;
  letter-spacing: -0.025rem;
}

.church-img {
  margin-bottom: 1.5rem;
}

.church-text {
  padding-bottom: 5rem;
  font-size: 18px;
  font-weight: 600;
  line-height: 150%;
  color: #040e15;
  letter-spacing: -0.015rem;
}

.vision-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 3rem;
}

.vision {
  padding: 2rem;
  margin-top: 5rem;
  color: #0a2840;
  letter-spacing: -0.015rem;
  background-color: #fff;
  border-radius: 1.875rem;
}

.church-vision-title {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  font-weight: 800;
}

.church-vision-hr {
  height: 0.15rem;
  margin-left: 0;
  background-color: #d9dee1;
}

.news {
  padding-inline: 15.625rem;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2.3rem;
}

.news-card {
  place-items: center;
  padding-block: 2rem;
  padding-inline: 1.25rem;
  background-color: rgba(245, 245, 245, 0.6941176471);
  border: 3px solid #d9dee1;
  border-radius: 30px;
}

.news-img {
  max-width: 100%;
  margin: auto;
  margin-bottom: 1rem;
  color: #dfdfdf;
}

.news-line {
  margin-bottom: 5rem;
}

.card-text {
  font-size: 20px;
  font-weight: 800;
  color: #7c888f;
  text-align: center;
}

hr {
  height: 0.1875rem;
  margin-inline: auto;
  margin-top: 0;
  margin-bottom: 1.5rem;
  background-color: #d9dee1;
  border: 0;
}

.support {
  position: relative;
  margin-top: 6.25rem;
}

.support-text {
  position: absolute;
  top: 5.4rem;
  left: 15.625rem;
  z-index: 1;
  width: 58.8125rem;
  height: 25rem;
  color: #dfdfdf;
}

.support-title {
  padding-bottom: 2.5rem;
  font-size: 2rem;
  font-weight: 700;
}

.support-maintext {
  padding-bottom: 3.125rem;
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
}

.support-btn {
  width: 120px;
  height: 35px;
  padding-block: 0.2rem;
  padding-inline: 1.5rem;
  font-weight: 700;
  color: #040e15;
  background-color: #efefef;
  border-radius: 1.25rem;
}

.support-btn-text {
  text-align: center;
}

.footer {
  padding-block: 6.25rem;
  padding-inline: 15.625rem;
  color: #dfdfdf;
  background-color: #040e15;
}

.footer-1 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

/* stylelint-disable-next-line selector-class-pattern */
.footer_itme_title {
  padding-bottom: 1rem;
  font-size: 1.25rem;
  font-weight: 600;
}

/* stylelint-disable-next-line selector-class-pattern */
.footer_itme_text {
  line-height: 1.75rem;
}

.footer-bot {
  display: flex;
  justify-content: space-between;
}

.footer-bot-left {
  display: flex;
  align-items: center;
  padding-top: 3.125rem;
}

.footer-bot-logo {
  padding-left: 0.5rem;
  font-size: 1.25rem;
  font-weight: 700;
}

.footer-bot-text-1 {
  padding-left: 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
}

.footer-bot-text-2 {
  padding-left: 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
}